In [68]:
import numpy as np
import pandas as pd

In [69]:
dataset = pd.read_csv('train.csv')

In [70]:
dataset.head()

,bedroom,bathrooms,area,furnishing,avalable_for,address,floor_number,facing,floor_type,gate_community,...,pooja_room,study_room,others,servant_room,store_room,maintenance_amt,brok_amt,deposit_amt,mnt_amt,rent
0,2,2,1050.0,Unfurnished,All,"Sadguru hights, Pingale Wasti, , Pune, Maharas...",5,West,Marble,Yes,...,0,0,0,0,0,0,0,3,0.0,20000.0
1,2,2,760.0,Unfurnished,All,"Manav Silver Springs, Wagholi, , Pune, Maharas...",5,East,Vitrified,Yes,...,0,0,0,0,0,0,0,40000,0.0,14000.0
2,3,3,0.0,Semifurnished,All,"Saarrthi Souvenir, Mahalunge, , Pune, Maharashtra",1,South-West,Vitrified,Yes,...,0,0,1,0,0,Maintenance 1/ (/ month,23000,60000,1.0,22999.0
3,1,1,628.0,Furnished,Family Only,"Dhan Residency, Wanowrie, , Pune, Maharashtra",3,East,Mosaic,Yes,...,0,0,0,0,0,0,0,40000,0.0,13000.0
4,2,2,668.0,Semifurnished,"Family , Bachelors (Men Only)","Saptsiddhi Savali Homes, Uruli Devachi, , Pune...",6,South,Polished concrete,Yes,...,0,0,0,0,0,0,0,20,0.0,7500.0

In [71]:
dataset.columns

Index(['bedroom', 'bathrooms', 'area', 'furnishing', 'avalable_for', 'address',
       'floor_number', 'facing', 'floor_type', 'gate_community', 'corner_pro',
       'parking', 'wheelchairadption', 'petfacility', 'aggDur', 'noticeDur',
       'lightbill', 'powerbackup', 'propertyage', 'no_room', 'pooja_room',
       'study_room', 'others', 'servant_room', 'store_room', 'maintenance_amt',
       'brok_amt', 'deposit_amt', 'mnt_amt', 'rent'],
      dtype='object')

In [72]:
y=dataset['rent']
y.head()

0    20000.0
1    14000.0
2    22999.0
3    13000.0
4     7500.0
Name: rent, dtype: float64

In [73]:
dataset=dataset.drop(['rent'],axis=1)
dataset=dataset.drop(['address'],axis=1)
dataset=dataset.drop(['maintenance_amt'],axis=1)

dataset.head()

,bedroom,bathrooms,area,furnishing,avalable_for,floor_number,facing,floor_type,gate_community,corner_pro,...,propertyage,no_room,pooja_room,study_room,others,servant_room,store_room,brok_amt,deposit_amt,mnt_amt
0,2,2,1050.0,Unfurnished,All,5,West,Marble,Yes,No,...,5 to 10 Year Old,1,0,0,0,0,0,0,3,0.0
1,2,2,760.0,Unfurnished,All,5,East,Vitrified,Yes,Yes,...,1 to 5 Year Old,1,0,0,0,0,0,0,40000,0.0
2,3,3,0.0,Semifurnished,All,1,South-West,Vitrified,Yes,No,...,1 to 5 Year Old,0,0,0,1,0,0,23000,60000,1.0
3,1,1,628.0,Furnished,Family Only,3,East,Mosaic,Yes,No,...,10+ Year Old,1,0,0,0,0,0,0,40000,0.0
4,2,2,668.0,Semifurnished,"Family , Bachelors (Men Only)",6,South,Polished concrete,Yes,Yes,...,1 to 5 Year Old,1,0,0,0,0,0,0,20,0.0

In [74]:
dataset.columns

Index(['bedroom', 'bathrooms', 'area', 'furnishing', 'avalable_for',
       'floor_number', 'facing', 'floor_type', 'gate_community', 'corner_pro',
       'parking', 'wheelchairadption', 'petfacility', 'aggDur', 'noticeDur',
       'lightbill', 'powerbackup', 'propertyage', 'no_room', 'pooja_room',
       'study_room', 'others', 'servant_room', 'store_room', 'brok_amt',
       'deposit_amt', 'mnt_amt'],
      dtype='object')

In [75]:
print('furnishing:',dataset['furnishing'].unique(),'\n')
print('avalable_for:',dataset['avalable_for'].unique(),'\n')
print('facing:',dataset['facing'].unique(),'\n')
print('floor_type:',dataset['floor_type'].unique(),'\n')
print('gate_community:',dataset['gate_community'].unique(),'\n')
print('corner_pro:',dataset['corner_pro'].unique(),'\n')
print('wheelchairadption:',dataset['wheelchairadption'].unique(),'\n')
print('petfacility:',dataset['petfacility'].unique(),'\n')
print('propertyage:',dataset['propertyage'].unique(),'\n')

furnishing: ['Unfurnished' 'Semifurnished' 'Furnished' 'Unfurnishe']

avalable_for: ['All' 'Family Only' 'Family , Bachelors (Men Only)'
 'Family , Bachelors (Women Only)' 'Bachelors (Men/Women)'
 'Bachelors (Women Only)' 'Bachelors (Men Only)' 'None']

facing: ['West' 'East' 'South-West' 'South' 'No Direction' 'North' 'North-West'
 'South-East' 'North-East']

floor_type: ['Marble' 'Vitrified' 'Mosaic' 'Polished concrete' 'Ceramic'
 'Not provided' 'Wood' 'Stone' 'Spartex' 'Others' 'Granite' 'Vinyl'
 'Concrete' 'Cement' 'IPSFinish']

gate_community: ['Yes' 'No']

corner_pro: ['No' 'Yes']

wheelchairadption: ['None' 'Yes']

petfacility: ['None' 'Yes']

propertyage: ['5 to 10 Year Old' '1 to 5 Year Old' '10+ Year Old' '0 to 1 Year Old'
 'Under Construction' 'NO age']

In [76]:
X=dataset
X.head()

,bedroom,bathrooms,area,furnishing,avalable_for,floor_number,facing,floor_type,gate_community,corner_pro,...,propertyage,no_room,pooja_room,study_room,others,servant_room,store_room,brok_amt,deposit_amt,mnt_amt
0,2,2,1050.0,Unfurnished,All,5,West,Marble,Yes,No,...,5 to 10 Year Old,1,0,0,0,0,0,0,3,0.0
1,2,2,760.0,Unfurnished,All,5,East,Vitrified,Yes,Yes,...,1 to 5 Year Old,1,0,0,0,0,0,0,40000,0.0
2,3,3,0.0,Semifurnished,All,1,South-West,Vitrified,Yes,No,...,1 to 5 Year Old,0,0,0,1,0,0,23000,60000,1.0
3,1,1,628.0,Furnished,Family Only,3,East,Mosaic,Yes,No,...,10+ Year Old,1,0,0,0,0,0,0,40000,0.0
4,2,2,668.0,Semifurnished,"Family , Bachelors (Men Only)",6,South,Polished concrete,Yes,Yes,...,1 to 5 Year Old,1,0,0,0,0,0,0,20,0.0

In [77]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [78]:
X['furnishing']=encoder.fit_transform(X['furnishing'])
X['avalable_for']=encoder.fit_transform(X['avalable_for'])
X['facing']=encoder.fit_transform(X['facing'])
X['floor_type']=encoder.fit_transform(X['floor_type'])
X['gate_community']=encoder.fit_transform(X['gate_community'])
X['corner_pro']=encoder.fit_transform(X['corner_pro'])
X['wheelchairadption']=encoder.fit_transform(X['wheelchairadption'])
X['petfacility']=encoder.fit_transform(X['petfacility'])
X['propertyage']=encoder.fit_transform(X['propertyage'])

In [79]:
X.head()

,bedroom,bathrooms,area,furnishing,avalable_for,floor_number,facing,floor_type,gate_community,corner_pro,...,propertyage,no_room,pooja_room,study_room,others,servant_room,store_room,brok_amt,deposit_amt,mnt_amt
0,2,2,1050.0,3,0,5,8,5,1,0,...,3,1,0,0,0,0,0,0,3,0.0
1,2,2,760.0,3,0,5,0,13,1,1,...,1,1,0,0,0,0,0,0,40000,0.0
2,3,3,0.0,1,0,1,7,13,1,0,...,1,0,0,0,1,0,0,23000,60000,1.0
3,1,1,628.0,0,6,3,0,6,1,0,...,2,1,0,0,0,0,0,0,40000,0.0
4,2,2,668.0,1,4,6,5,9,1,1,...,1,1,0,0,0,0,0,0,20,0.0

In [80]:
X

,bedroom,bathrooms,area,furnishing,avalable_for,floor_number,facing,floor_type,gate_community,corner_pro,...,propertyage,no_room,pooja_room,study_room,others,servant_room,store_room,brok_amt,deposit_amt,mnt_amt
0,2,2,1050.0,3,0,5,8,5,1,0,...,3,1,0,0,0,0,0,0,3,0.0
1,2,2,760.0,3,0,5,0,13,1,1,...,1,1,0,0,0,0,0,0,40000,0.0
2,3,3,0.0,1,0,1,7,13,1,0,...,1,0,0,0,1,0,0,23000,60000,1.0
3,1,1,628.0,0,6,3,0,6,1,0,...,2,1,0,0,0,0,0,0,40000,0.0
4,2,2,668.0,1,4,6,5,9,1,1,...,1,1,0,0,0,0,0,0,20,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10879,2,1,750.0,3,6,0,5,13,1,0,...,2,0,0,0,1,0,0,15000,30000,0.0
10880,2,1,0.0,3,0,4,0,7,0,0,...,1,0,0,0,1,0,0,0,22000,0.0
10881,3,4,2390.0,3,6,9,8,13,1,1,...,3,0,0,0,0,1,0,55000,180000,0.0
10882,2,2,563.0,1,5,2,1,2,1,0,...,1,1,0,0,0,0,0,0,3,0.0
10883,1,1,500.0,0,0,2,0,13,1,0,...,3,1,0,0,0,0,0,0,0,0.0

In [ ]:
input_1 = ['bedroom', 'bathrooms', 'area', 'furnishing', 'avalable_for',
       'floor_number', 'facing', 'floor_type', 'gate_community', 'corner_pro',
       'parking', 'wheelchairadption', 'petfacility', 'aggDur', 'noticeDur',
       'lightbill', 'powerbackup', 'propertyage', 'no_room', 'pooja_room',
       'study_room', 'others', 'servant_room', 'store_room', 'brok_amt',
       'deposit_amt', 'mnt_amt']

In [98]:
print('store_room:',X['store_room'].unique())

store_room: [0 1]

In [81]:
print('furnishing:',X['furnishing'].unique())
print('avalable_for:',X['avalable_for'].unique())
print('facing:',X['facing'].unique())
print('floor_type:',X['floor_type'].unique())
print('gate_community:',X['gate_community'].unique())
print('corner_pro:',X['corner_pro'].unique())
print('wheelchairadption:',X['wheelchairadption'].unique())
print('petfacility:',X['petfacility'].unique())
print('propertyage:',X['propertyage'].unique())

furnishing: [3 1 0 2]
avalable_for: [0 6 4 5 2 3 1 7]
facing: [8 0 7 5 1 2 4 6 3]
floor_type: [ 5 13  6  9  1  7 14 11 10  8  3 12  2  0  4]
gate_community: [1 0]
corner_pro: [0 1]
wheelchairadption: [0 1]
petfacility: [0 1]
propertyage: [3 1 2 0 5 4]

In [15]:
furnishing: ['Unfurnished' 'Semifurnished' 'Furnished' 'Unfurnishe']

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [17]:
X_train

,bedroom,bathrooms,area,furnishing,avalable_for,floor_number,facing,floor_type,gate_community,corner_pro,...,propertyage,no_room,pooja_room,study_room,others,servant_room,store_room,brok_amt,deposit_amt,mnt_amt
2206,1,1,0.0,3,0,0,1,7,0,0,...,2,1,0,0,0,0,0,0,2,0.0
3224,1,1,508.0,3,6,3,5,5,0,1,...,1,1,0,0,0,0,0,0,0,0.0
1299,3,3,1100.0,0,0,1,0,1,1,0,...,1,0,0,1,0,0,0,34000,150000,3000.0
3489,2,2,900.0,3,6,7,4,1,0,0,...,1,1,0,0,0,0,0,0,50000,0.0
5453,1,1,0.0,3,6,4,1,7,0,0,...,3,1,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,1,1,600.0,1,6,6,0,1,1,0,...,3,1,0,0,0,0,0,0,35000,0.0
7813,2,2,0.0,0,6,3,8,1,1,0,...,3,1,0,0,0,0,0,0,60000,0.0
905,1,1,450.0,3,0,2,0,13,1,0,...,1,0,0,0,1,0,0,11000,30000,1500.0
5192,2,2,520.0,3,0,2,1,7,0,0,...,0,1,0,0,0,0,0,0,15000,0.0
235,3,3,1350.0,1,0,1,0,13,1,0,...,0,1,0,0,0,0,0,0,45000,0.0

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.5945489435021197

In [20]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, y_pred))

3597.553565493799

In [21]:
import pickle
pickle.dump(regressor,open('pickle_dump2.pkl','wb'))

In [22]:
X_test[0]

array([ 0.24,  0.26, -0.53,  1.09,  1.09, -0.86,  2.39, -0.33,  0.85,
       -0.4 ,  0.21, -0.47, -0.54, -0.97, -1.04, -0.45, -0.85, -0.67,
        0.57, -0.26, -0.22, -0.37, -0.18, -0.22, -0.41, -0.03, -0.2 ])

In [23]:
import pickle
model = pickle.load(open('pickle_dump2.pkl', 'rb'))

In [24]:
input_1 = ['bedroom', 'bathrooms', 'area', 'furnishing', 'avalable_for',
       'floor_number', 'facing', 'floor_type', 'gate_community', 'corner_pro',
       'parking', 'wheelchairadption', 'petfacility', 'aggDur', 'noticeDur',
       'lightbill', 'powerbackup', 'propertyage', 'no_room', 'pooja_room',
       'study_room', 'others', 'servant_room', 'store_room', 'brok_amt',
       'deposit_amt', 'mnt_amt']

input_1 = [2, 2, 1050, 'Unfurnished', 'All',
       5, 'West', 'Marble', 'Yes', 'No',
       0, 'None', 'None', 11, 2,
       0, 2, '5 to 10 Year Old', 1, 0,
       0, 0, 0, 0, 0,
       3, 0]

In [ ]:
############# DO NOT RUN ##############

furnishing: ['Unfurnished' 'Semifurnished' 'Furnished' 'Unfurnishe'] 
furnishing: [3 1 0 2]

    
    
avalable_for: ['All' 'Family Only' 'Family , Bachelors (Men Only)'
 'Family , Bachelors (Women Only)' 'Bachelors (Men/Women)'
 'Bachelors (Women Only)' 'Bachelors (Men Only)' 'None'] 
avalable_for: [0 6 4 5 2 3 1 7]

    
    
facing: ['West' 'East' 'South-West' 'South' 'No Direction' 'North' 'North-West'
 'South-East' 'North-East'] 
facing: [8 0 7 5 1 2 4 6 3]

    
    
floor_type: ['Marble' 'Vitrified' 'Mosaic' 'Polished concrete' 'Ceramic'
 'Not provided' 'Wood' 'Stone' 'Spartex' 'Others' 'Granite' 'Vinyl'
 'Concrete' 'Cement' 'IPSFinish'] 
floor_type: [ 5 13  6  9  1  7 14 11 10  8  3 12  2  0  4]

    
gate_community: ['Yes' 'No'] 
gate_community: [1 0]

    
    
corner_pro: ['No' 'Yes'] 
corner_pro: [0 1]

    
    
wheelchairadption: ['None' 'Yes'] 
wheelchairadption: [0 1]

    
petfacility: ['None' 'Yes'] 
petfacility: [0 1]
    
propertyage: ['5 to 10 Year Old' '1 to 5 Year Old' '10+ Year Old' '0 to 1 Year Old'
 'Under Construction' 'NO age'] 
propertyage: [3 1 2 0 5 4]

In [25]:
if(input_1[3]=='Unfurnished'):
    input_1[3] = 3
elif(input_1[3]=='Semifurnished'):
    input_1[3] = 1
elif(input_1[3]=='Furnished'):
    input_1[3] = 0
elif(input_1[3]=='Unfurnishe'):
    input_1[3] = 2

    
if(input_1[4]=='All'):
    input_1[4] = 0
elif(input_1[4]=='Family Only'):
    input_1[4] = 6
elif(input_1[4]=='Family , Bachelors (Men Only)'):
    input_1[4] = 4
elif(input_1[4]=='Family , Bachelors (Women Only)'):
    input_1[4] = 5
elif(input_1[4]=='Bachelors (Men/Women)'):
    input_1[4] = 2
elif(input_1[4]=='Bachelors (Women Only)'):
    input_1[4] = 3
elif(input_1[4]=='Bachelors (Men Only)'):
    input_1[4] = 1
elif(input_1[4]=='None'):
    input_1[4] = 7
    
    
    
if(input_1[6]=='West'):
    input_1[6] = 8
elif(input_1[6]=='East'):
    input_1[6] = 0
elif(input_1[6]=='South-West'):
    input_1[6] = 7
elif(input_1[6]=='South'):
    input_1[6] = 5
elif(input_1[6]=='No Direction'):
    input_1[6] = 1
elif(input_1[6]=='North'):
    input_1[6] = 2
elif(input_1[6]=='North-West'):
    input_1[6] = 4
elif(input_1[6]=='South-East'):
    input_1[6] = 6
elif(input_1[6]=='North-East'):
    input_1[6] = 3

    
if(input_1[7]=='Marble'):
    input_1[7] = 5
elif(input_1[7]=='Vitrified'):
    input_1[7] = 13
elif(input_1[7]=='Mosaic'):
    input_1[7] = 6
elif(input_1[7]=='Polished concrete'):
    input_1[7] = 9
elif(input_1[7]=='Ceramic'):
    input_1[7] = 1
elif(input_1[7]=='Not provided'):
    input_1[7] = 7
elif(input_1[7]=='Wood'):
    input_1[7] = 14
elif(input_1[7]=='Stone'):
    input_1[7] = 11
elif(input_1[7]=='Spartex'):
    input_1[7] = 10
elif(input_1[7]=='Others'):
    input_1[7] = 8
elif(input_1[7]=='Granite'):
    input_1[7] = 3
elif(input_1[7]=='Vinyl'):
    input_1[7] = 12
elif(input_1[7]=='Concrete'):
    input_1[7] = 2
elif(input_1[7]=='Cement'):
    input_1[7] = 0
elif(input_1[7]=='IPSFinish'):
    input_1[7] = 4


if(input_1[8]=='Yes'):
    input_1[8] = 1
elif(input_1[8]=='No'):
    input_1[8] = 0
    
    
if(input_1[9]=='Yes'):
    input_1[9] = 1
elif(input_1[9]=='No'):
    input_1[9] = 0
    
    
if(input_1[11]=='None'):
    input_1[11] = 0
elif(input_1[11]=='Yes'):
    input_1[11] = 1
    
    
if(input_1[12]=='None'):
    input_1[12] = 0
elif(input_1[12]=='Yes'):
    input_1[12] = 1  
    
    
if(input_1[17]=='5 to 10 Year Old'):
    input_1[17] = 3
elif(input_1[17]=='1 to 5 Year Old'):
    input_1[17] = 1 
elif(input_1[17]=='10+ Year Old'):
    input_1[17] = 2 
elif(input_1[17]=='0 to 1 Year Old'):
    input_1[17] = 0  
elif(input_1[17]=='Under Construction'):
    input_1[17] = 5
elif(input_1[17]=='NO age'):
    input_1[17] = 4

In [26]:
print(input_1)

[2, 2, 1050, 3, 0, 5, 8, 5, 1, 0, 0, 0, 0, 11, 2, 0, 2, 3, 1, 0, 0, 0, 0, 0, 0, 3, 0]

In [65]:
output_1 = model.predict([input_1])
print(output_1)

[35000.]

In [64]:
input_2 = input_1
print(input_2)

[2, 2, 1050, 3, 0, 5, 8, 5, 1, 0, 0, 0, 0, 11, 2, 0, 2, 3, 1, 0, 0, 0, 0, 0, 0, 3, 0]

In [63]:
import numpy as np
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()